# notebooks
.ipynb_checkpoints
__pycache__
.jupyter_symlinks

# dev

# date & artifacts
data
features
*artifacts
figures
logs
tables
backup
data_splits

# testing ground
testground*
deprecated
debug*
*random_explore*
*sanity_check*

#oprediction_utils
*.npz

.ipynb_checkpoints
*/.ipynb_checkpoints/*
/__pycache__/*
*.parquet
*.pyc
*.chk
*.tar.gz
*.log
*.RData
*.swp
.idea
*.err
*.out
*.egg*
*deprecated*
*dask-worker-space*
*.DS_Store
